*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Noto Serif JP", serif;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #1a1a1a;
}

.display-part {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.back-img {
  border: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
}

.credit {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  color: rgba(136, 136, 136, 0.6);
  font-size: 12px;
  text-align: center;
  z-index: 2;
}
